#show-pizza {
    display: none;
}

h1 {
    font-style:italic;
    text-shadow: 5px 8px 10px pink;
}

.main {
    /*background-color: lightgrey;*/
    text-align: center;
    margin:auto;
    width:35%;
    border-radius: 10px;
}
